<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            <i class="fas fa-bus"></i>
            RutasApp
        </a>        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" [routerLink]="['/rutas/',idUser]">Home</a>
                <a class="nav-link" [routerLink]="['/cuenta/',idUser]">Mi cuenta</a>
                <a class="nav-link" [routerLink]="['/desarrolladores/',idUser]">Acerca de</a>                
            </div>            
        </div>
        <span class="navbar-text">
            <button class="btn btn-outline-light" type="button"
            routerLink="/usuario">
                Cerrar sesión
            </button>
        </span>
    </div>
  </nav>
  
  <div class ="p-3 mb-2 text-white">
    <h1>Nuevo destino <small>Llanitos</small></h1>
    <hr class="text-white">
  </div>

<div class="row text-end">
    <div class="col">
        <button class="btn btn-danger"
                [routerLink]="['/llanitos/', idUser]">
            <i class="fa fa-arrow-left"></i>
            Volver a destinos Llanitos
        </button>
    </div>
</div>

<div>
    <div class = "text-white">
        <form (ngSubmit)="guardar( f )"
                          #f="ngForm">
            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text"
                             class="form-control"
                             placeholder="Firebase ID"
                             [(ngModel)] = "llanitosDest.idLla"
                             name="idLla"
                             disabled="disabled">  
                <small class="form-text text-muted">Este campo se llena de forma automática</small>
            </div>

            <div class="form-group mt-2">
                <label>Destino</label>
                <input type="text"
                             class="form-control"
                             placeholder="Nombre del lugar"
                             [(ngModel)] = "llanitosDest.destinoLla"
                             name="destinoLla"
                             required>  
            </div>

            <hr>
            <div class="form-group text-end">
                <button type="submit"
                              class="btn btn-primary w-15">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>


        </form>
    </div>
</div>