<nav class="navbar" style="background-color: #e3f2fd; text-align: left;">
    <!-- Navbar content -->
    <div class="container-fluid" >
        <img src="../../../favicon.ico" alt="">
        <a class="navbar-brand" href="principal.component.html">ONDE!</a>
         <a class="navbar-brand" href="../rutas/rutas.component.html">Rutas</a>
        <a class="nav-link active">Acerca de</a>  
        <span class="navbar-text">
          <button class="btn btn-outline-light" type="button"
          routerLink="/usuario" style="background-color:blue ;">
              Cerrar sesión
          </button>
      </span>
      </div>
  
  </nav>
  
  <div class ="p-3 mb-2 text-white">
    <h1>Nuevo destino <small>Ruta Allente</small></h1>
    <hr class="text-white">
  </div>


<div class="row text-end">
    <div class="col">
        <button class="btn btn-danger"
            [routerLink]="['/allende/', idUser]">
            <i class="fa fa-arrow-left"></i>
            Volver a destinos Allende
        </button>
    </div>
</div>

<div>
    <div class="text-white">
        <form (ngSubmit)="guardar( f )"
                          #f="ngForm">
            <div class="form-group mt-2">
                <label>Destino</label>
                <input type="text"
                             class="form-control"
                             placeholder="Nombre del lugar"
                             [(ngModel)] = "allendeDest.destinoAll"
                             name="destinoAll"
                             required>  
            </div>

            <hr>
            <div class="form-group text-end">
                <button type="submit"
                              class="btn btn-primary w-15">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>


        </form>
    </div>
</div>